rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // allow public read/write access for all documents
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
